@font-face {
	font-family: 'CenturySchL';
	src: url('../fonts/CenturySchL-Roma.otf');
	font-style: normal;
}
@font-face {
	font-family: 'CenturySchL';
	src: url('../fonts/CenturySchL-Ital.otf');
	font-style: italic;
}
