@import 'fonts.css';

.page {
	font-size: monospace;
	background: red;
}

.col {
	height: 80%;
}

.fn {
	height: 20%;
	position: absolute;
}

.page::after {
	bottom: -10mm;
}

.page:nth-of-type(odd)::after {
	counter-increment: pages;
	content: counter(pages);
	color: red;
}

.page:nth-of-type(even)::after {
	counter-increment: pages;
	content: counter(pages);
}

h1{
	margin: 0 0 1.5em;
}

p{
	line-height: 1.2em;
	font-size: 1.1em;
	font-family: 'CenturySchL';
	margin: 0;
	text-align: justify;
	hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	word-spacing: -.1em;
	text-justify: inter-character;
	text-align-last: center;

}

p + p {
	text-indent: 2em;
}

.page:nth-of-type(1)::after {
	visibility: hidden;
}

.current {
	height: 100%;
}

.courant {
	height: 100%;
}

