@font-face {
    font-family: "GaramondPremrPro.otf";
    src: url("../fonts/GaramondPremrPro.otf");
	font-family: "GaramondPremrPro-It.otf";
	src: url("../fonts/GaramondPremrPro-It.otf");
	
}

p {
    font-family: "GaramondPremrPro.otf";
    text-indent: -5%;
	font-size: 12.6px;
	text-align: justify;
	margin: 0;
	line-height: 97%;
}

.un {
	font-family: "GaramondPremrPro-It.otf";
	font-size: 13.6px;
	text-align: justify;
	margin: 0;
	line-height: 97%;
	margin-top: 60%;
}

.cap {
	font-family: "GaramondPremrPro.otf";
	font-size: 13.6px;
	text-align: justify;
	text-indent: -5%;
	margin: 0;
	font-variant: small-caps;
}

.italic {
	font-family: "GaramondPremrPro-It.otf";
	font-size: 13.6px;
	text-align: justify;
	margin: 0;
	line-height: 97%;
	text-align-last: left;
}

.ligne {
    font-family: "GaramondPremrPro.otf";
    text-indent: 5%;
	font-size: 12.6px;
	text-align: justify;
	margin: 0;
	line-height: 97%;
	text-align-last: left;
}

span {
	text-align-last: left;
}

p {
	hyphens: auto;
	text-align-last: left;
}

img{
	width: 20%;
	position: absolute;
	margin-left: 10%;
}

/* GABARIT PAGEDJS */
@page {
	size: 11cm 17cm;
	/* marks: crop; */
	/* bleed: 5mm; */
}

@page :left {
	margin-right: 8mm;
	margin-top: 15mm;
	margin-bottom: 10mm;
	margin-left: 22mm;
	
	@top-center { 
	content: "Chicago"; 
	font-size: 75%;
	font-variant: small-caps;
	} 
	/* // foliotage */
	/* @bottom-left { */
	/* 	content: counter(page); */
	/* } */
}
@page :right {
	margin-right: 8mm;
	margin-top: 15mm;
	margin-bottom: 10mm;
	margin-left: 22mm;
	
	@top-center { 
	content: "PROLOGUE";
	font-variant: small-caps;
	} 
	/* // foliotage */
	/* @bottom-right { */
	/* 	content: counter(page); */
	/* } */
}
