@font-face {
	font-family: 'SourceSerifPro-Light.ttf';
	src: url(../fonts/SourceSerifPro-Light.ttf)
}

body {
	font-family: 'SourceSerifPro-Light.ttf';
}

.titre{
	page-break-after: always;
}

.paraph2{ page-break-before: always;
	text-align-last: left;

}
.pgbl {
	page-break-before: always;
	page-break-after: always;
}
p {
	font-size: 12pt;
	line-height: 1.2em;
	margin: 0px;
	/* text-align: justify; */
	text-align-last: left;
	hyphens: auto;
	word-spacing: -.1ch;
}

p + p  {
	text-indent: 2em;
}

img {
	width: 100%; 
}


/* GABARIT PAGEDJS */
@page {
	size: 12cm 20cm;
	/* marks: crop; */
	/* bleed: 5mm; */
}

@page :left {
	margin-right: 1.5cm;
	margin-top: 1cm;
	margin-bottom: 2cm;
	margin-left: 0.75cm;
	/* // Exemple de titre courant */
	/* @top-left { */
	/* 	content: "titre du livre"; */
	/* } */
	/* // foliotage */
	/* @bottom-left { */
	/* 	content: counter(page); */
	/* } */
}
@page :right {
	margin-right: 0.75cm;
	margin-top: 1cm;
	margin-bottom: 2cm;
	margin-left: 1.5cm;
	/* // Exemple de titre courant */
	/* @top-right { */
	/* 	content: "chaptitre de livre"; */
	/* } */
	/* // foliotage */
	/* @bottom-right { */
	/* 	content: counter(page); */
	/* } */
}
