@font-face {
	font-family: 'nimbus';
	src: url(../fonts/NimbusRomNo9L-Reg.otf)
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');

/* body {
	
} */

.motEnGras{
	font-weight:bold;
}
.recadrage {
	width: 50px;
	height: 25px;
	overflow: hidden;

	

}
.note-call_margin-note{
	color: rgb(255, 255, 255); 
}
.note-marker_margin-note{
	color: rgb(255, 255, 255); 
}

/* .as-console-wrapper{min-height:100%;} */

.chapter {

	white-space: pre-wrap;
	font-size: 13px;
	line-height: 1.7em;
	margin: 0px;
	text-align: justify;
	text-justify: distribute;
	
	hyphens: auto;
	word-spacing: -.1ch;
	font-family: 'Libre Baskerville';

}

.title {
	position: running(titleRunning);
	text-transform: uppercase;
	font-size: 11px;
	font-family: 'Libre Baskerville';
}


#auteur {}

#titre {}

#edite {}

#editeur {}




/* ul{
	margin-top: -20px;
} */
img {
	object-fit: cover;
/* margin-left: -60px; */

	
}



@media print {
	
	
	/* GABARIT PAGEDJS */
	@page {
		size: 11cm 17cm;
		
	
		/* marks: crop; */
		/* bleed: 5mm; */
		@top-center {
			content: element(titleRunning);
			margin-top: 1.3cm;
font-size: 11px;


		}
		/* @note-area {
			content: element(sidenotes, all-once);
			float: top right;
			float-reference: page;
			width: 42mm;
			margin-right: -30mm;
		} */
	}
	/* notes {
		position: note(sidenotes)
	} */
	@page :left {
		margin-right: 1.2cm;
		margin-top: 2.3cm;
		margin-bottom: 1.7cm;
		margin-left: 2.3cm;

		@top-left {
			margin-top: 1.3cm;
			content: counter(page);
			font-size: 12px;
			font-family: 'Libre Baskerville';
		}

		/* // Exemple de titre courant */
		/* @top-left { */
		/* 	content: "titre du livre"; */
		/* } */
		/* // foliotage */
		/* @bottom-left { */
		/* 	content: counter(page); */
		/* } */
	}

	@page :right {
		margin-right: 2.3cm;
		margin-top: 2.3cm;
		margin-bottom: 1.7cm;
		margin-left: 1.2cm;

		@top-right {
			margin-top: 1.3cm;
			content: counter(page);
			font-size: 12px;

			font-family: 'Libre Baskerville', serif;
		}

		/* // Exemple de titre courant */
		/* @top-right { */
		/* 	content: "chaptitre de livre"; */
		/* } */
		/* // foliotage */
		/* @bottom-right { */
		/* 	content: counter(page); */
		/* } */
	}

	

	
	/* .pagedjs_note + .pagedjs_note{ margin-top: 16px; } */
	
	
	
	
	
	







	.pagedjs_left_page .margin-note {
		padding-left: 40px;
		padding-right: 20px;
	}
	.pagedjs_right_page .margin-note {
		padding-left: 20px;
		padding-right: 40px;
		
	}
	
	


	@page :nth(1) {

		@top-right {
			content: none;
		}

		@top-center {
			content: none;
		}
	}

	@page :nth(2) {

		@top-left {
			content: none;
		}

		@top-center {
			content: none;
		}
	}

	@page :nth(3) {
		margin-top: 6.3cm;

		@top-right {
			content: none;
		}

		@top-center {
			content: none;
		}

	}

	#monTexteCourant {
		break-before: right;
	}

	.chapter {
		text-indent: 20px;
		orphans: 4;
		widows: 3;
		
	}

	#premierePage {
		text-align: center;
	}

ul{
	list-style: none;
	margin-left: -60px;
	margin-top: -10px;
}
	

}