@font-face {
    font-family: 'nimbus';
    src: url(../fonts/NimbusRomNo9L-Reg.otf);
}

/*#content {
    width: 80%;
    margin: 0 auto;
    text-align: justify; 
}*/

p {
    display: block; 
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    hyphens: auto;
    font-size: 3.6mm;
    margin-right: 0.2em;
    margin-left: 0.2em;
}

p + p {
    text-indent: 2em;
}

img {
    width: 100%;
}

span {
	color: black;
	background: black;
}

.hidden {
    visibility: hidden;
}

@page :first {
    margin-top: 3cm;
}

@page {
    size: 11cm 17.5cm;
	
}
@page {
    size: 11cm 17.5cm;
    margin: 3cm 1.2cm 1.8cm 1.2cm;
}

#content {
    text-align: justify;
}

#content p {
    text-align: justify;
    text-justify: inter-word;
}

@page :left {
    @top-center {
        content: "La Métamorphose";
        font-size: 80%;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
    }
    margin-top: 2.5cm;
    margin-right: 1.2cm;
    margin-left: 1.2cm;
    margin-bottom: 1.8cm;
    @bottom-right {
        content: counter(page);
        font-size: 80%;
        margin-top: -10%;
        padding-block: 1cm;
    }
}

@page :right {
    @top-center {
        content: "La Métamorphose";
        font-size: 80%;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
    }
    margin-top: 2.5cm;
    margin-right: 1.2cm;
    margin-left: 1.2cm;
    margin-bottom: 1.8cm;
    @bottom-right {
        content: counter(page);
        font-size: 80%;
        margin-top: -10%;
        padding-block: 1cm;
    }
}

@page :first {
    @top-center {
        content: "";
    }
}

h1 {
    font-size: 4mm;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    text-align: center;
    padding-bottom: 4cm;
}
