@font-face {
	font-family: 'hershey';
	src: url('../fonts/Hershey-Noailles-futuram.otf');
}

@font-face {
	font-family: 'oldFrench';
	src: url('../fonts/Hershey-Noailles-old-french.otf');
}
:root {
	--cl-main : black;
	--cl-title : red;
}

h1, h2, h3, h4 {
	font-weight: normal;
	color: var(--cl-title);
}

small {
	font-size: .7em;
}

html {
	scroll-behavior: smooth;
}

body{
	margin: 0;
	background: #F3F3F3;
}

main {
	margin: 0 auto;
	margin-top: 6em;
	font-family: 'oldFrench';
	color: black;
	font-size: 24px;
	line-height 1.3em;
	max-width: 800px;
}

article {
	margin-bottom: 2em;

	scroll-margin-top: 4em;
}

h1 {
	transform: scale(1,2);
}

h3 {
	text-transform: uppercase;
}
p {
	font-family: 'hershey';
	line-height: 1.2em;
	margin-left: 1em;
}


blockquote p{
	color: darkblue;
	font-family: 'oldFrench';
}


.content {
	width: 900px;
}
img {
	max-width: 100%;
}

nav {
	width: 100%;
	position: fixed;
	top: 0;
}

nav ul {
	display: flex;
	font-size: 1em;
	font-weight: normal;
	list-style: none;
	margin: 0;
}

nav li {
	color: red;
	text-transform: uppercase;
	border-left: 1px solid;
	font-weight: normal;
	padding: 1em;
	transform: scale(1,2);
}
nav a {
	color: red;

	text-decoration: none;
}
nav a:hover {
	color: red;
}

pre {
	background: white;
	color: purple;
	padding: 1em;
}

code {
	font-size: .6em;
	background: white;
	color: purple;
}
