@font-face {
    font-family: Cairo-variableFont_wght;
    src: url(../fonts/Cairo-VariableFont_wght.ttf);
  }

@font-face {
    font-family: dematerialized;
    src: url(dematerialized.otf);
}

@font-face {
    font-family: DecayingFeltPen;
    src: url(../fonts/DecayingFeltPen.ttf);
}

body{
    background-color: rgb(134, 187, 234);
    font-family: Helvetica;
    margin-top: 1cm;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-bottom: 1cm;
}

.intro{
    text-align:left ;
    font-size: 20px;
    text-align-last: left;
    text-indent: 50px;
   /* letter-spacing: 10px;
    line-height: 22px;
    word-spacing: 16px;
    */
}

.title{
    font-family: DecayingFeltPen;
    text-align: left;
    font-size: 5em;
    page-break-before: always;
    page-break-after: always;
}

.titleeros{
    font-family: DecayingFeltPen;
    text-align: left;
    font-size: 3.8em;
    page-break-before: always;
    page-break-after: always;
}

.container {
    position: absolute;
    width: 100%;
  }

.image1 {
    position: absolute;
    display: block;
    width: 60%;
    height: auto;
    margin-left: 20%;
    top: 30%;
  }
  

.eros{
    text-align: justify;
    font-size: 20px;
    text-align-last: left;
    text-indent: 50px;
    /*
    letter-spacing: 10px;
    line-height: 22px;
    word-spacing: 16px;
    */
}

.titleagape{
    font-family: DecayingFeltPen;
    text-align: left;
    font-size: 2.8em;
    page-break-before: always;
    page-break-after: always;
}

.agape{
    text-align: justify;
    font-size: 20px;
    text-align-last: left;
    text-indent: 50px;
    /*
    letter-spacing: 10px;
    line-height: 22px;
    word-spacing: 16px;
    */
}

.titlephilia{
    font-family: DecayingFeltPen;
    text-align: left;
    font-size: 2.8em;
    page-break-before: always;
    page-break-after: always;
}

.philia{
    text-align: justify;
    font-size: 20px;
    text-align-last: left;
    text-indent: 50px;
    /*letter-spacing: 10px;
    line-height: 22px;
    word-spacing: 16px;*/
}

.titlestorge{
    font-family: DecayingFeltPen;
    text-align: left;
    font-size: 4em;
    page-break-before: always;
    page-break-after: always;
}

.storge{
    text-align: justify;
    font-size: 20px;
    text-align-last: left;
    text-indent: 50px;
    /*letter-spacing: 10px;
    line-height: 22px;
    word-spacing: 16px;*/
}

.titlepragma{
    font-family: DecayingFeltPen;
    text-align: left;
    font-size: 4em;
    page-break-before: always;
    page-break-after: always;
}

.pragma{
    text-align: justify;
    font-size: 20px;
    text-align-last: left;
    text-indent: 50px;
    /*letter-spacing: 10px;
    line-height: 22px;
    word-spacing: 16px;*/
}

.titleludus{
    font-family: DecayingFeltPen;
    text-align: left;
    font-size: 4em;
    page-break-before: always;
    page-break-after: always;
}

.ludus{
    text-align: justify;
    font-size: 20px;
    text-align-last: left;
    text-indent: 50px;
    /*letter-spacing: 10px;
    line-height: 22px;
    word-spacing: 16px;*/
}

.titlemania{
    font-family: DecayingFeltPen;
    text-align: left;
    font-size: 4em;
    page-break-before: always;
    page-break-after: always;
}

.mania{
    text-align: justify;
    font-size: 20px;
    text-align-last: left;
    text-indent: 50px;
    /*letter-spacing: 10px;
    line-height: 22px;
    word-spacing: 16px;*/
}

.titleplatonic{
    font-family: DecayingFeltPen;
    text-align: left;
    font-size: 4em;
    page-break-before: always;
    page-break-after: always;
}

.platonic{
    text-align: justify;
    font-size: 20px;
    text-align-last: left;
    text-indent: 50px;
}

.titlearistotelian{
    font-family: DecayingFeltPen;
    text-align: left;
    font-size: 3em;
    page-break-before: always;
    page-break-after: always;
}

.aristotelian{
    text-align: justify;
    font-size: 20px;
    text-align-last: left;
    text-indent: 50px;
}

.titrekierkegaardian{
    font-family: DecayingFeltPen;
    text-align: left;
    font-size: 2.5em;
    page-break-before: always;
    page-break-after: always;
}

.kierkegaardian{
    text-align: justify;
    font-size: 20px;
    text-align-last: left;
    text-indent: 50px;
}

.titlenyaya{
    font-family: DecayingFeltPen;
    text-align: left;
    font-size: 3em;
    page-break-before: always;
    page-break-after: always;
}

.nyaya{
    text-align: justify;
    font-size: 20px;
    text-align-last: left;
    text-indent: 50px;
}

.titlemetta{
    font-family: DecayingFeltPen;
    text-align: left;
    font-size: 2.5em;
    page-break-before: always;
    page-break-after: always;
}

.metta{
    text-align: justify;
    font-size: 20px;
    text-align-last: left;
    text-indent: 50px;
}

.titletheological{
    font-family: DecayingFeltPen;
    text-align: left;
    font-size: 3em;
    page-break-before: always;
    page-break-after: always;
}

.theological{
    text-align: justify;
    font-size: 20px;
    text-align-last: left;
    text-indent: 50px;
}

.titlepostmodern{
    font-family: DecayingFeltPen;
    text-align: left;
    font-size: 3em;
    page-break-before: always;
    page-break-after: always;
}

.postmodern{
    text-align: justify;
    font-size: 20px;
    text-align-last: left;
    text-indent: 50px;
}

.titlepsychoanalytic{
    font-family: DecayingFeltPen;
    text-align: left;
    font-size: 2.5em;
    page-break-before: always;
    page-break-after: always;
}

.psychoanalytic{
    text-align: justify;
    font-size: 20px;
    text-align-last: left;
    text-indent: 50px;
}

.titleconc{
    font-family: DecayingFeltPen;
    text-align: left;
    font-size: 3em;
    page-break-before: always;
    page-break-after: always;
}

.conc{
    text-align: justify;
    font-size: 20px;
    text-align-last: left;
    text-indent: 50px;
    /*letter-spacing: 10px;
    line-height: 22px;
    word-spacing: 16px;*/
}

@media print{
    @page{
        size: 15.8cm 23cm;
    }

    
    @page :left{
        margin-top: 1.5cm;
        margin-right: 1.5cm;
        margin-left: 1.5cm;
        margin-bottom: 1.5cm;
        @left-middle {
            content: counter(page);
          }
    }

    @page :right{
        margin-top: 1.5cm;
        margin-right: 1.5cm;
        margin-left: 1.5cm;
        margin-bottom: 1.5cm;
        @right-middle {
            content: counter(page);
          }
    }

    body{
        background-color: rgb(230, 194, 230);
        font-family: helvetica;
        text-align: justify;

    }

    footer {page-break-after:always;}

}
