@font-face {
	font-family: 'nimbus';
	src: url(../fonts/NimbusRomNo9L-Reg.otf)
}



p {
	font-size: 3.6mm;
	font-family: 'Times New Roman', Times, serif;
    /* text-align: justify; */
	hyphens: auto;
	margin: 0;
}

p + p  {
	text-indent: 2em;
}

img {
	width: 100%; 
}


.hidden {
	visibility: hidden;
}

@page :first {
	margin-top: 3cm;
}

@page {
size: 11cm 17.5cm;

}






@page :left {
	@top-center {
	  content: "La Métamorphose";
	  font-size: 80%;
	  font-style: italic;
	  font-family: 'Times New Roman', Times, serif;
	}
	margin-top: 2.5cm;
	margin-right: 1.2cm;
	margin-left: 1.2cm;
	margin-bottom: 1.8cm;
	@bottom-right {
	  content: counter(page);
	  font-size: 80%;
	  margin-top: -10%; 
	  padding-block: 1cm;
	}
  }
  
  @page :right {
	@top-center {
	  content: "La Métamorphose";
	  font-size: 80%;
	  font-style: italic;
	  font-family: 'Times New Roman', Times, serif;
	}
	margin-top: 2.5cm;
	margin-right: 1.2cm;
	margin-left: 1.2cm;
	margin-bottom: 1.8cm;
	@bottom-right {
	  content: counter(page);
	  font-size: 80%;
	  margin-top: -10%; 
	  padding-block: 1cm;
	}
  }
  
  
  
  @page :first {
	@top-center {
	  content: ""; 
	}
  }
  

h1 {
	font-size: 4mm;
	font-family: 'Times New Roman', Times, serif,;
	font-weight: 100;
	text-align: center;
	padding-bottom: 4cm;
}

