<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/styles.css">
	<title>Web-To-Print</title>
</head>
<body>
	<nav>
		<ul>
			{% for p in nav %}
			<li>
				<a href="#{{ p.meta.slug }}">
					{{ p.title }}
				</a>
			</li>
			{% endfor %}
		</ul>
	</nav>
	<main>
		{% block content %} {% endblock %}
	</main>
</body>
</html>
