{% extends "base.html" %}
{% block content %}
{% for article in nav %}

<article id="{{article.meta.slug}}">
	<h1>{{ article.title }}</h1>
	{{ article.content }}
</article>
{% endfor %}
{% endblock %}
