@font-face {
	font-family: 'EBGaramond';
	src: url('fonts/EBGaramond-VariableFont_wght.ttf');
	font-style: normal;
}
@font-face {
	font-family: 'EBGaramond';
	src: url('fonts/EBGaramond-Italic-VariableFont_wght.ttf');
	font-style: italic;
}


h1 {
	background: coral;
}


p {
	font-family: 'EBGaramond', serif;
	font-size: 24pt; 
	color: red;
}

p:nth-of-type(2n) {
	font-style: italic;
}


@media print {

	@page {
		size: A5;
	}


	@page :right {
		margin-top: 20mm;
		margin-right: 10mm;
		margin-bottom: 40mm;
		margin-left: 30mm;
	}

	@page :left {
		margin-top: 20mm;
		margin-right: 30mm;
		margin-bottom: 40mm;
		margin-left: 10mm;
	}

	p {
		color: green;
	}
}
