@font-face {
	font-family: 'nimbus';
	src: url(../fonts/NimbusRomNo9L-Reg.otf)
}

body {
	font-family: 'nimbus';
}
h1 {
	page-break-after: always;
}

p {
	font-size: 12pt;
	line-height: 1.2em;
	margin: 0px;
	text-align: justify;
	hyphens: auto;
	word-spacing: -.1ch;
}

p + p  {
	text-indent: 2em;
}

img {
	width: 100%; 
}

/* GABARIT PAGEDJS */
@page {
	size: 12cm 20cm;
}

@page :left {
	margin-right: 1.5cm;
	margin-top: 1cm;
	margin-bottom: 2cm;
	margin-left: 0.75cm;
	@bottom-left {
		content: counter(page);
		color: red;
	}
}
@page :right {
	margin-right: 0.75cm;
	margin-top: 1cm;
	margin-bottom: 2cm;
	margin-left: 1.5cm;
	@bottom-right {
		content: counter(page);
	}
}
